<include file="Base:header" />
<include file="Base:include" />
	<script type="text/javascript">
	$(function(){
		$("#navbar>li:nth-child(2)").addClass("active");
		$("#we-menu>li:nth-child(1)").addClass("active");
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>我们</h1>
    <p class="lead">About Us</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-3 bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
          <?php foreach($data as $k => $d) {
          	echo '<li><a href="#'.$k.'"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> '.$d['title'].'</a></li>';
          } ?>
          <li><a href="?z=coach"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 教练团队</a></li>
          <li><a href="?z=oj"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> OnlineJudge历史</a></li>
        </ul>
      </div>
      <div class="col-xs-9">

        <?php foreach($data as $k => $d) { ?>
        <section id="<?php echo $k ?>">
          <div class="page-header">
            <h1><?php echo $d['title']; ?></h1>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <?php echo $d['content']; ?>
            </div>
          </div>
        </section>
		<?php } ?>

      </div>
    </div>

  </div>
<include file="Base:footer" />