<include file="Base:header" />
<include file="Base:include" />
	<script type="text/javascript">
	$(function(){
		$("#navbar>li:nth-child(2)").addClass("active");
		$("#we-menu>li:nth-child(2)").addClass("active");
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>教练团队</h1>
    <p class="lead">Coach Group</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 col-sm-3 bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
          <li><a href="?z=we"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> ACM-ICPC集训队简介</a></li>
          <li class="selected"><a href="?z=coach"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 教练团队</a></li>
          <?php foreach($data as $d) {
          	echo '<li><a href="#'.substr($d['id'], 0, 6).'"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> '.$d['chsname'].'&nbsp;&nbsp;'.$d['engname'].'</a></li>';
          } ?>
          <li><a href="?z=oj"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> OnlineJudge历史</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9">

        <?php foreach($data as $d) { ?>
        <section id="<?php echo substr($d['id'], 0, 6); ?>">
          <div class="page-header">
            <h1><?php echo $d['chsname']; ?><span class="lead"> <?php echo $d['engname']; ?></span></h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-4">
              <img style="width:100%" src="<?php if($d['photo']) echo $d['photo']; else echo 'img/nopic.jpg'; ?>" class="thumbnail" />
            </div>
            <div class="col-xs-12 col-sm-8">
              <?php if($d['introduce']) { echo '<p>'.$d['introduce'].'</p><hr class="soften">'; } ?>
              <p><?php if($d['detail']) echo $d['detail']; ?></p>
            </div>
          </div>
        </section>
		<?php } ?>

      </div>
    </div>

  </div>
<include file="Base:footer" />