<include file="Base:header" />
<include file="Base:include" />
    <script type="text/javascript">$(function(){ $("#navbar>li:nth-child(2)").addClass("active"); $("#we-menu>li:nth-child(2)").addClass("active"); });</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>教练团队</h1>
    <p class="lead">Coach Group</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 text-center"><h1>暂时还没教练信息，赶紧通知队长来添加啦~,~</h1></div>
    </div>
  </div>
<include file="Base:footer" />
