<include file="Base:header" />
<include file="Base:include" />
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#navbar>li:nth-child(7)").addClass("active");
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		    offset: {
		        top: function () { return $window.width() <= 980 ? 290 : 210 }
		      	, bottom: 270
		    }
		});
		$("span[data-toggle=popover]")
      		.popover()
      		.click(function(e) {
        		e.preventDefault()
      		});
		
		$('#code').val(null);
		$('#verify').val(null);
		$('#tag').val(null);
		$('#submit').click(function(e) {
			$.post("?z=codepool-ajax_submit", {verify:$('#verify').val(), tag:$('#tag').val(), code:$('#code').val()} )
			.done(function (data) {
				if(data.status == 0) {
					alert("成功", "你的代码提交到码池了！", "success");
					$('#url1').attr('href', data.data);
					$('#url2').html(data.data);
					$('#moresubmit').removeClass('disabled');
					$('#todo').fadeOut(1000);
					$('#result').fadeIn(1000);
				}
				else {
					$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
					alert("错误", data.info, "error");
				}
			})
			.fail(function () {
				alert("提示", '你已中断请求，或网络连接异常。', "info");
			});
		});
		$('#moresubmit').click(function(e){
			$('#moresubmit').addClass('disabled');
			$('#code').val(null);
			$('#verify').val(null);
			$('#tag').val(null);
			$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
			$('#todo').fadeIn(1000);
		});
		<?php if($invalidkey) echo $invalidkey; ?>
	});
	function fakesubmit() {return false;}
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>码池</h1>
    <p class="lead">Code Pool</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 col-sm-3 bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
        	<li><a href="#tips"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Tips</a></li>
          	<li><a href="#insertcode"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 提交代码</a></li>
          	<li><a href="#mycode"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 我的代码</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9">

        <section id="tips">
          <div class="page-header">
            <h1>Tips</h1>
          </div>

          <div class="row">
            <div class="col-xs-12">
            	<div class="bs-callout bs-callout-warning"><h4>欢迎来到码池 o(-"-)o</h4>
                在这里，你可以提交自己的代码或其它备忘信息，系统会在一段时间内保存你的代码，并自动生成一个URL。<br />
                分享该URL给其他人，分享你的代码吧~<br />
                登录OJ后提交的代码，进入该URL还可以追加代码哟~
                </div>
            </div>
          </div>
        </section>

        <section id="insertcode">
          <div class="page-header">
            <h1>提交代码</h1>
          </div>

          <div class="row">
          	<div class="col-xs-12" id="result" style="display:none"><div class="alert alert-info alert-block">
            	<div class="control-group"><p>分享该URL，就可以查看提交的代码咯。登录OJ后提交，还可以追加代码哦~<button class="btn btn-success pull-right" id="moresubmit">我还要提交</button></p><p><span class="label label-info">代码URL</span> <a href="URL" id="url1"><span class="label label-warning" id="url2">URL</span></a></p></div>
            </div></div>
            <div class="col-xs-12" id="todo">
              <form method="post" name="insertcode" class="form-inline" action="#" onSubmit="return fakesubmit();">
              	<textarea id="code" rows="16" class="form-control" style="width:100%"></textarea>
              	<label for="verify"><img id="verify-img" alt="验证码" src="?z=codepool-verify" /></label> <input id="verify" type="text" name="verify" maxlength="4" class="form-control" style="width:10%;min-width:60px" placeholder="验证码" />
              	<input id="tag" type="text" name="tag" class="form-control" placeholder="标签（可选）" maxlength="20" />
              	<input type="submit" value="提交代码" class="btn btn-primary" id="submit" />
              </form>
            </div>
          </div>
        </section>
        
        <?php if(!$url) { ?>
        <section id="mycode">
          <div class="page-header">
            <h1>我的代码</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-12">
            <?php if(count($codes) == 0) { ?>
              <div class="alert alert-warning" role="alert">你还没有提交过代码哟~</div>
            <?php } else { ?>
              <div class="list-group">
              	<?php foreach($codes as $c) { ?>
				  <a href="?z=codepool-x-k-<?php echo $c['k']; ?>" class="list-group-item"><p class="text-danger"><b>Last submit @<?php echo $c['submittime']; ?>.</b></p><span class="text-primary"><b><?php echo $c['tag']; ?></b></span></a>
				<?php } ?>
			  </div>
			<?php } ?>
            </div>
          </div>
        </section>
        <?php } else { ?>
        <section id="mycode">
          <div class="page-header">
            <h1>我的代码</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-10" id="todo">
              <div class="alert alert-success alert-block">登录OnlineJudge账号后提交的代码，在这里可以列出来哟~<a target="_blank" href="<?php echo $url; ?>" class="btn btn-large btn-success pull-right">登录OnlineJudge</a><br />请点击右方按钮跳转至OnlineJudge登录页面。</div>
            </div>
          </div>
        </section>
		<?php } ?>

      </div>
    </div>

  </div>
  <div id="alert"></div>
<include file="Base:footer" />