<include file="Base:header" />
<include file="Base:include" />
    <link href="css/prettify.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/prettify/prettify.js"></script>
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#navbar>li:nth-child(7)").addClass("active");
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
		prettyPrint();
		$('#code').val(null);
		$('#verify').val(null);
		$('#tag').val(null);
		$('#submit').click(function(e) {
			$.post("?z=codepool-ajax_submit", {verify:$('#verify').val(), tag:$('#tag').val(), code:$('#code').val(), k:'<?php echo $key; ?>'} )
			.done(function (data) {
				if(data.status == 0) {
					$('#code-content section').eq(-1).before('<section id="' + data.data.tag_id + '"><div class="page-header"><h1>' + data.data.tag + '</h1></div><div class="row"><div class="col-xs-12"><p><span class="label label-info">代码URL</span> <a href="' + data.data.tag_id + '"><span class="label label-warning"><?php echo $url."#"; ?>' + data.data.tag_id + '</span></a></p></div><div class="col-xs-12"><pre class="prettyprint linenums" style="width:100%">' + data.data.code + '</pre></div></div></section>');
					$('#tags li').eq(-1).before('<li><a href="#' + data.data.tag_id + '"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> '+ data.data.tag + '</a></li>');
					$('#code').val(null);
					$('#verify').val(null);
					$('#tag').val(null);
					$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
					$('[data-spy="scroll"]').each(function () {
  						var $spy = $(this).scrollspy('refresh');
					});
					prettyPrint();
					alert("[成功]你的代码提交到码池了！");
				}
				else {
					$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
					alert(data.info, "error");
				}
			})
			.fail(function () {
				alert('[错误]请检查网络连接。', "error");
			});
		});
		<?php if($issamelogin == 1) echo '$("#appendcode").show(); $("#tags li").eq(-1).show();'; ?>
	});
	function fakesubmit() {return false;}
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>码池</h1>
    <p class="lead">Code Pool</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-3 bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav" id="tags">
          <?php foreach($data as $k => $d) {
          	echo '<li><a href="#'.$d['tag_id'].'"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> '.$d['tag'].'</a></li>';
          } ?>
          <li class="hide"><a href="#appendcode"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 追加代码</a></li>
        </ul>
      </div>
      <div class="col-xs-9" id="code-content">

        <?php foreach($data as $k => $d) { ?>
        <section id="<?php echo $d['tag_id']; ?>">
          <div class="page-header">
            <h1><?php echo $d['tag']; ?></h1>
          </div>

          <div class="row">
            <div class="col-xs-12"><p><span class="label label-info">代码URL</span> <a href="<?php echo $url.'#'.$d['tag_id']; ?>"><span class="label label-warning"><?php echo $url.'#'.$d['tag_id']; ?></span></a></p></div>
            <div class="col-xs-12"><pre class="prettyprint linenums" style="width:100%"><?php echo $d['code']; ?></pre></div>
          </div>
        </section>
		<?php } ?>

        <section id="appendcode" style="display:none">
          <div class="page-header">
            <h1>提交代码</h1>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <?php echo '<div class="row"><div class="col-xs-12"><p><span class="label label-info">代码URL</span> <a href="'.$url.'"><span class="label label-warning">'.$url.'</span></a></p></div></div>'; ?>
              <form method="post" name="insertcode" class="form-inline" action="#" onSubmit="return fakesubmit();">
              	<textarea id="code" rows="16" class="form-control" style="width:100%"></textarea>
              	<label for="verify"><img id="verify-img" alt="验证码" src="?z=codepool-verify" /></label> <input id="verify" type="text" name="verify" maxlength="4" class="form-control" style="width:10%;min-width:60px" placeholder="验证码" />
              	<input id="tag" type="text" name="tag" class="form-control" placeholder="标签（可选）" maxlength="20" />
              	<input type="submit" value="提交代码" class="btn btn-primary" id="submit" />
              </form>
            </div>
          </div>
        </section>

      </div>
    </div>

  </div>
  <div id="alert"></div>
<include file="Base:footer" />