<include file="Base:header" />
    <!-- Le styles -->
    <link href="css/prettify.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Le javascript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#navbar li:nth-child(9)").addClass("active");
		var $window = $(window);
		$('.bs-docs-sidenav').affix({
		    offset: {
		        top: function () { return $window.width() <= 980 ? 290 : 210 }
		      	, bottom: 270
		    }
		});
		$("span[data-toggle=popover]")
      		.popover()
      		.click(function(e) {
        		e.preventDefault()
      		});
		
		$('#code').val(null);
		$('#verify').val(null);
		$('#tag').val(null);
		$('#submit').click(function(e) {
			$.post("?z=codepool-ajax_submit", {verify:$('#verify').val(), tag:$('#tag').val(), code:$('#code').val()} )
			.done(function (data) {
				if(data.status == 0) {
					alert("[成功]你的代码提交到码池了！");
					$('#url1').attr('href', data.data);
					$('#url2').html(data.data);
					$('#moresubmit').removeClass('disabled');
					$('#todo').fadeOut(1000);
					$('#result').fadeIn(1000);
				}
				else {
					$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
					alert(data.info, "error");
				}
			})
			.fail(function () {
				alert('[错误]请检查网络连接。', "error");
			});
		});
		$('#moresubmit').click(function(e){
			$('#moresubmit').addClass('disabled');
			$('#code').val(null);
			$('#verify').val(null);
			$('#tag').val(null);
			$('#verify-img').attr('src', '?z=codepool-verify-t-'+Math.random());
			$('#todo').fadeIn(1000);
		});
		<?php if($invalidkey) echo $invalidkey; ?>
	});
	function fakesubmit() {return false;}
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>码池</h1>
    <p class="lead">Code Pool</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
        	<li><a href="#tips"><i class="icon-chevron-right"></i> Tips</a></li>
          	<li><a href="#insertcode"><i class="icon-chevron-right"></i> 提交代码</a></li>
        </ul>
      </div>
      <div class="span9">

        <section id="tips">
          <div class="page-header">
            <h1>Tips</h1>
          </div>

          <div class="row">
            <div class="span9">
            	<div class="alert alert-success alert-block"><p><strong>欢迎来到码池 o(-"-)o</strong></p>
                <p>在这里，你可以提交自己的代码或其它备忘信息，系统会在一段时间内保存你的代码，并自动生成一个URL。</p>
                <p>分享该URL给其他人，分享你的代码吧~</p>
                <p>登录OJ后提交的代码，进入该URL还可以追加代码哟~</p>
                </div>
            </div>
          </div>
        </section>

        <section id="insertcode">
          <div class="page-header">
            <h1>提交代码</h1>
          </div>

          <div class="row">
          	<div class="span9 hide" id="result"><div class="alert alert-info alert-block">
            	<div class="control-group"><p>分享该URL，就可以查看提交的代码咯。登录OJ后提交，还可以追加代码哦~<button class="btn btn-success pull-right" id="moresubmit">我还要提交</button></p><p><span class="label label-info">代码URL</span> <a href="URL" id="url1"><span class="label label-warning" id="url2">URL</span></a></p></div>
            </div></div>
            <div class="span9" id="todo">
              <form method="post" name="insertcode" class="form-inline" action="#" onSubmit="return fakesubmit();">
              <div class="control-group"><textarea id="code" rows="16" class="input-xxlarge" style="width:100%"></textarea></div>
              	<label for="verify"><img id="verify-img" alt="验证码" src="?z=codepool-verify" /></label> <input id="verify" type="text" name="verify" class="input-mini" placeholder="验证码" />
                <input id="tag" type="text" name="tag" class="input-large" placeholder="标签（可选）" maxlength="20" />
              	<input type="submit" value="提交代码" class="btn btn-primary" id="submit" />
              </form>
            </div>
          </div>
        </section>

      </div>
    </div>

  </div>
  <div id="alert"></div>
<include file="Base:footer" />