<include file="Base:header" />
<include file="Base:include" />
    <link href="css/theme.bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/jquery.tablesorter.widgets.min.js"></script>
    <script src="js/jquery.tablesorter.pager.js"></script>
    <script src="js/bootstrap3-typeahead.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/kindeditor/kindeditor-min.js"></script>
    <script src="js/setting_common.js"></script>
    <script src="js/setting_activity.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(9)").addClass("active"); });
	$(function(){
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]").popover();
		$('#deadline').datetimepicker({
       		format: 'YYYY-MM-DD HH:mm:ss'
      	});
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="col-xs-12 col-sm-9 content">
		<div class="page-header">
            <h1>活动列表</h1>
        </div>
        <div class="row">
			<div class="col-xs-12 pull-left">
				<div class="btn-group">
					<a data-func="1" title="添加" data-target="#activity-modal" data-toggle="modal" role="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
					<a data-func="3" title="编辑" data-target="#activity-modal" data-toggle="modal" role="button" class="btn btn-default" data-aid=""><span class="glyphicon glyphicon-pencil"></span></a>
					<a onClick="del_checked();" title="删除" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></a>
				</div>
				<div class="btn-group">
		    		<a title="刷新" data-target="#modal" class="btn btn-default" onClick="reFresh();"><span class="glyphicon glyphicon-refresh"></span></a>
				</div>
                <span style="margin-left:100px">说明：<span class="label label-info">内</span> 表示队内活动，<span class="label label-success">秘</span> 表示注册信息不公开，<span class="label label-warning">审</span> 表示需要审核。</span>
			</div>
            <div class="col-xs-12" style="min-height:10px"> </div>
            <div id="table-content-index" class="col-xs-12 table-content">
  				<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover">
  					<thead>
    					<tr class="align-center">
      						<th><label style="padding-right:15px"><input type="checkbox" class="select-all"></label></th>
                            <th>AID</th>
      						<th>活动名称</th>
                            <th>报名截止时间</th>
                            <th>标记</th>
                            <th>人数</th>
							<th class="sorter-false">操作</th>
    					</tr>
  					</thead>
  					<tbody></tbody>
				</table>
            </div>
            <!-- pager -->
            <div id="pager" class="col-xs-12 text-center" style="margin-top:0px">
              	<ul class="pagination">
                    <li class="first"><a href="javascript:void(0)"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>
                    <li class="prev"><a href="javascript:void(0)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
                    <li><span class="pagedisplay"></span></li>
                    <li class="next"><a href="javascript:void(0)"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>
                    <li class="last"><a href="javascript:void(0)"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>
                    <div class="col-xs-4" style="margin-left:-10px"><select class="pagesize inline form-control">
                        <option selected="selected" value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                	</select></div>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal fade" id="activity-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true"><div class="modal-dialog" style="width:850px"><div class="modal-content">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h4 class="modal-title" id="activity-modal-title">活动管理</h4>
  	</div>
    <form class="form-horizontal" id="activity-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
    	<div class="form-group">
			<label for="deadline" class="col-xs-2 control-label">截止时间*</label>
            <div class="col-xs-3"><input type="text" id="deadline" name="deadline" class="form-control" placeholder="2015-01-01 23:59:59"></div>
        	<label class="col-xs-2 control-label"><input type="checkbox" id="isinner" name="isinner" value="1"> 队内</label>
            <label class="col-xs-3 control-label"><input type="checkbox" id="ispublic" name="ispublic" value="1"> 公开注册信息</label>
            <label class="col-xs-2 control-label"><input type="checkbox" id="isneedreview" name="isneedreview" value="1"> 需审核</label>
        </div>
        <div class="form-group">
        	<label for="title" class="col-xs-2 control-label">标题*</label>
            <div class="col-xs-4"><input type="text" name="title" id="title" class="form-control"></div>
            <label for="admin" class="col-xs-2 control-label">审核人</label>
            <div class="col-xs-4"><input type="text" name="admin" id="admin" class="form-control"></div>
        </div>
        <div class="form-group">
        	<label for="form" class="col-xs-2 control-label"><span data-trigger="hover" data-content="不建议在已有人报名的情况下修改该项内容+_+ 如果不明白该填什么？请点击跳转到Wiki上的该项帮助。" data-placement="right" data-toggle="popover" data-original-title="帮助" data-container="body"><a target="_blank" href="https://github.com/ekszz/OurAcm/wiki/%E2%80%9C%E6%B4%BB%E5%8A%A8%E7%AE%A1%E7%90%86%E2%80%9D%E4%B8%AD%E2%80%9C%E6%B3%A8%E5%86%8C%E6%A0%BC%E5%BC%8F%E2%80%9D%E5%AD%97%E6%AE%B5%E8%AF%B4%E6%98%8E">注册格式*</a></span></label>
            <div class="col-xs-10"><textarea style="height:100px;" class="form-control" id="form" name="form"></textarea></div>
        </div>
        <div class="form-group">
        	<label for="content" class="col-xs-2 control-label">活动说明</label>
        	<div class="col-xs-10"><textarea style="height:260px;visibility:hidden;" id="content"></textarea></div>
        </div>
        <input type="hidden" name="nowaid" id="nowaid">
        <input type="hidden" name="content">
  	</div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
    	<button id="btn-submit" type="submit" class="btn btn-primary">保存</button>
  	</div>
  </div>></div></div>
<include file="Base:footer" />