<include file="Base:header" />
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/theme.bootstrap.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Le javascript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/jquery.tablesorter.widgets.min.js"></script>
    <script src="js/jquery.tablesorter.pager.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/kindeditor/kindeditor-min.js"></script>
    <script src="js/setting_common.js"></script>
    <script src="js/setting_activity.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar li:nth-child(10)").addClass("active"); $("#setting-bar li:nth-child(9)").addClass("active"); });
	$(function(){
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]").popover();	
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="span9 content">
		<div class="page-header">
            <h1>活动列表</h1>
        </div>
        <div class="row">
			<div class="span9 pull-left">
				<div class="btn-group">
					<a data-func="1" title="添加" data-target="#activity-modal" data-toggle="modal" role="button" class="btn btn-add btn-large btn-tool"><i class="icon-plus"></i></a>
					<a data-func="3" title="编辑" data-target="#activity-modal" data-toggle="modal" role="button" class="btn btn-large btn-edit btn-tool" data-aid=""><i class="icon-edit"></i></a>
					<a onClick="del_checked();" title="删除" class="btn btn-large btn-delete btn-tool"><i class="icon-trash"></i></a>
				</div>
				<div class="btn-group">
		    		<a style="margin-left: -1px;" title="刷新" data-target="#modal" class="btn btn-large" onClick="reFresh();"><i class="icon-refresh"></i></a>
				</div>
                <span style="margin-left:100px">说明：<span class="label label-info">内</span> 表示队内活动，<span class="label label-success">秘</span> 表示注册信息不公开，<span class="label label-warning">审</span> 表示需要审核。</span>
			</div>
            <div class="span9" style="min-height:10px"> </div>
            <div id="table-content-index" class="span9 table-content">
  				<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover">
  					<thead>
    					<tr class="align-center">
      						<th><label class="checkbox"><input type="checkbox" class="select-all"></label></th>
                            <th>AID</th>
      						<th>活动名称</th>
                            <th>报名截止时间</th>
                            <th>标记</th>
                            <th>人数</th>
							<th class="sorter-false">操作</th>
    					</tr>
  					</thead>
  					<tbody></tbody>
				</table>
            </div>
            <!-- pager -->
            <div id="pager" class="span9 pagination text-center" style="margin-top:0px">
              	<ul>
                    <li class="first"><a href="javascript:void(0)"><i class="icon-step-backward"></i></a></li>
                    <li class="prev"><a href="javascript:void(0)"><i class="icon-backward"></i></a></li>
                    <li><span class="pagedisplay"></span></li>
                    <li class="next"><a href="javascript:void(0)"><i class="icon-forward"></i></a></li>
                    <li class="last"><a href="javascript:void(0)"><i class="icon-step-forward"></i></a></li>
                    <select class="pagesize input-mini inline">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                	</select>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal hide fade" id="activity-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="activity-modal-title">活动管理</h3>
  	</div>
    <form class="form-inline" id="activity-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
		<label for="deadline">截止时间*</label><input type="text" id="deadline" name="deadline" class="input-medium" placeholder="格式：2014-8-8 23:59:59">
        <label class="checkbox" for="isinner" style="width:75px"><input type="checkbox" id="isinner" name="isinner" value="1"> 队内活动</label><label class="checkbox" for="type" style="width:105px"><input type="checkbox" id="ispublic" name="ispublic" value="1"> 公开注册信息</label><label class="checkbox" for="isneedreview" style="width:70px"><input type="checkbox" id="isneedreview" name="isneedreview" value="1"> 需审核</label>
        <label for="title">标题*</label><input type="text" name="title" id="title" class="input-large"><label for="admin">审核人</label><input type="text" name="admin" id="admin" class="input-large">
        <label for="form"><span data-trigger="hover" data-content="不建议在已有人报名的情况下修改该项内容+_+ 如果不明白该填什么？请点击跳转到Wiki上的该项帮助。" data-placement="right" data-toggle="popover" data-original-title="帮助"><a target="_blank" href="https://github.com/ekszz/OurAcm/wiki/%E2%80%9C%E6%B4%BB%E5%8A%A8%E7%AE%A1%E7%90%86%E2%80%9D%E4%B8%AD%E2%80%9C%E6%B3%A8%E5%86%8C%E6%A0%BC%E5%BC%8F%E2%80%9D%E5%AD%97%E6%AE%B5%E8%AF%B4%E6%98%8E">注册格式*</a></span></label><textarea style="height:80px;" class="input-xxlarge" id="form" name="form"></textarea>
        <div style="margin-left:50px;"><textarea style="height:210px;visibility:hidden;" id="content"></textarea></div>
        <input type="hidden" name="nowaid" id="nowaid">
        <input type="hidden" name="content">
  	</div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-large" data-dismiss="modal" aria-hidden="true">关闭</button>
    	<button id="btn-submit" type="submit" class="btn btn-primary btn-large">保存</button>
  	</div>
  </div>
<include file="Base:footer" />