<include file="Base:header" />
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/theme.bootstrap.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
     <!-- Le javascript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/jquery.tablesorter.widgets.min.js"></script>
    <script src="js/jquery.tablesorter.pager.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(5)").addClass("active"); });
	$(function(){
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
	</script>
    <script src="js/setting_contest.js"></script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="span9 content">
		<div class="page-header">
            <h1>获奖记录列表</h1>
        </div>
        <div class="row">
			<div class="span9 pull-left">
				<div class="btn-group">
					<a data-func="1" title="添加" data-target="#contest-modal" data-toggle="modal" role="button" class="btn btn-add btn-large btn-tool"><i class="icon-plus"></i></a>
					<a data-func="3" title="编辑" data-target="#contest-modal" data-toggle="modal" role="button" class="btn btn-large btn-edit btn-tool" data-uid=""><i class="icon-edit"></i></a>
					<a onClick="del_checked();" title="删除" class="btn btn-large btn-delete btn-tool"><i class="icon-trash"></i></a>
				</div>
		
				<div class="btn-group">
		    		<a style="margin-left: -1px;" data-target="#contest-modal" title="刷新" class="btn btn-large" onClick="reFresh();"><i class="icon-refresh"></i></a>
				</div>
			</div>
            <div class="span9" style="min-height:10px"> </div>
            <div id="table-content-index" class="span9 table-content">
  				<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover">
  					<thead>
    					<tr class="align-center">
      						<th><label class="checkbox"><input type="checkbox" class="select-all"></label></th>
                            <th>CID</th>
      						<th>比赛日期</th>
                            <th>地点</th>
                            <th>举办单位</th>
                            <th>类型</th>
                            <th>奖项</th>
                            <th>队伍名</th>
                            <th>照片</th>
							<th class="sorter-false">操作</th>
    					</tr>
  					</thead>
  					<tbody></tbody>
				</table>
            </div>
            <!-- pager -->
            <div id="pager" class="span9 pagination text-center" style="margin-top:0px">
              	<ul>
                    <li class="first"><a href="javascript:void(0)"><i class="icon-step-backward"></i></a></li>
                    <li class="prev"><a href="javascript:void(0)"><i class="icon-backward"></i></a></li>
                    <li><span class="pagedisplay"></span></li>
                    <li class="next"><a href="javascript:void(0)"><i class="icon-forward"></i></a></li>
                    <li class="last"><a href="javascript:void(0)"><i class="icon-step-forward"></i></a></li>
                    <select class="pagesize input-mini inline">
                        <option selected="selected" value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                	</select>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal hide fade" id="contest-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="contest-modal-title">获奖记录管理</h3>
  	</div>
    <form class="form-inline" id="contest-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
		<label for="holdtime">比赛日期*</label><input type="text" id="holdtime" name="holdtime" placeholder="格式：2013-01-01">
        <label for="team">队伍名*</label><input type="text" id="team" name="team" placeholder="建议用英文队名">
        <label for="site">举办地点*</label><input type="text" id="site" name="site" placeholder="如“福州”">
        <label for="university">举办单位*</label><input type="text" id="university" name="university" placeholder="如“福州大学”">
        <label for="type">级别*</label><select class="input-medium" id="type" name="type"><option value="0">0-WF</option><option value="1">1-Regional</option><option value="2">2-省赛</option></select>
        <label for="medal">奖项*</label><select class="input-small" id="medal" name="medal"><option value="0">0-金</option><option value="1">1-银</option><option value="2">2-铜</option><option value="3">3-铁</option><option value="4">4-旅</option></select>
        <label for="ranking">排名</label><input class="input-mini" type="text" name="ranking" id="ranking">
        <label for="title">附加奖项</label><input type="text" class="input-medium" id="title" name="title">
		<label for="leader">队长*</label><div class="input-append"><input type="text" name="leader" id="leader" autocomplete="off" data-provide="typeahead" placeholder="格式：UID-中文姓名"><button class="btn" type="button" data-func="add_person" data-target="#leader">+</button></div>
		<label for="teamer1">队员</label><div class="input-append"><input type="text" name="teamer1" id="teamer1" autocomplete="off" data-provide="typeahead" placeholder="格式：UID-中文姓名"><button class="btn" type="button" data-func="add_person" data-target="#teamer1">+</button></div><div class="input-append" style="margin-left:43px"><input type="text" name="teamer2" id="teamer2" autocomplete="off" data-provide="typeahead" placeholder="格式：UID-中文姓名"><button class="btn" type="button" data-func="add_person" data-target="#teamer2">+</button></div>
        <div class="row hide" style="margin:5px 0px 5px 50px; color:green;" id="upload_notice"></div>
        <div class="row" style="margin-left:20px"><img class="img-polaroid span2" src="img/nopic.jpg" id="pic1_show"><label>照片1</label><div class="input-append"><input type="file" class="input-small" name="pic1" id="pic1"><button class="btn" type="button" id="pic1_upload" data-func="upload">上传</button><button class="btn" type="button" id="pic1_del" data-func="del">删除</button></div></div>
        <div class="row" style="margin-left:20px"><img class="img-polaroid span2" src="img/nopic.jpg" id="pic2_show"><label>照片2</label><div class="input-append"><input type="file" class="input-small" name="pic2" id="pic2"><button class="btn" type="button" id="pic2_upload" data-func="upload">上传</button><button class="btn" type="button" id="pic2_del" data-func="del">删除</button></div></div>
        <input type="hidden" name="nowcid" id="nowcid">
        <input type="hidden" name="pic1_fn" id="pic1_fn">
        <input type="hidden" name="pic2_fn" id="pic2_fn">
    </div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-large" data-dismiss="modal" aria-hidden="true">关闭</button>
    	<button id="contest-btn-submit" type="submit" class="btn btn-primary btn-large">保存</button>
  	</div>
  </div>
  
  <div class="modal hide fade" id="person-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="person-modal-title">队员管理</h3>
  	</div>
    <form class="form-inline" id="person-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
		<label for="chsname">中文姓名*</label><input type="text" id="chsname" name="chsname">
        <label for="engname">英文姓名</label><input type="text" id="engname" name="engname" placeholder="强烈建议填写">
        <label for="group">组别*</label><select class="input-medium" id="group" name="group"><option value="0">0-队员</option><option value="1">1-队长（管理权）</option><option value="2">3-教练（管理权）</option><option value="9">9-管理员（不展示）</option></select>
        <label for="sex">性别*</label><select class="input-small" id="sex" name="sex"><option value="0">0-男</option><option value="1">1-女</option></select>
        <label for="grade">本科年级</label><input class="input-mini" type="text" id="grade" name="grade" placeholder="如2013">
		<label for="email">Email</label><input type="text" name="email" id="email">
		<label for="phone">Phone</label><input type="text" name="phone" id="phone">
		<label for="address">现所在地</label><input class="input-xxlarge" type="text" name="address" id="address">
		<label for="introduce">简要介绍</label><input type="text" name="introduce" id="introduce" class="input-xxlarge">
		<label for="detail">详细自白</label>
		<textarea rows="5" class="input-xxlarge" name="detail" id="detail"><?php if($data['detail']) echo $data['detail']; ?></textarea>
		<label for="luckycode">邀请码*</label><input type="text" id="luckycode" name="luckycode" placeholder="系统自动生成，无需填写" readonly>
		<label for="ojaccount">关联OJ账号</label><input type="text" id="ojaccount" name="ojaccount" placeholder="不填写则由队员自行关联"> 
        <input type="hidden" name="nowuid" id="nowuid">
        <input type="hidden" id="result_pos">
  	</div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-large" data-dismiss="modal" aria-hidden="true">关闭</button>
    	<button id="person-btn-submit" type="submit" class="btn btn-primary btn-large">保存</button>
  	</div>
  </div>
<include file="Base:footer" />