<include file="Base:header" />
<include file="Base:include" />
    <script type="text/javascript">$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); });</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>个人中心</h1>
    <p class="lead">Personal Center</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 text-center"><h2>请先在OJ上登录后，刷新本页面 : )</h2><a href="<?php echo $url; ?>" target="_blank" class="btn btn-success btn-lg">点此打开登录页面</a></div>
    </div>
  </div>
<include file="Base:footer" />