<include file="Base:header" />
<include file="Base:include" />
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/setting_common.js"></script>
    <script src="js/setting_ojhistory.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(7)").addClass("active"); });
	$(function(){
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
  </script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="col-xs-9">
		<div class="page-header">
            <h1>OnlineJudge历史管理</h1>
        </div>
        <form class="form-horizontal" id="ojhis-form" method="post" action="" enctype="multipart/form-data">
        	<div class="form-group">
				<label class="col-xs-2 control-label" for="vid">待修改的OJ版本</label>
				<div class="col-xs-4"><select class="form-control" name="vid" id="vid"></select></div>
                <div class="col-xs-6"><input type="button" class="btn btn-warning btn-sm" id="btn-create" value="添加一个OJ版本"> <input type="button" class="btn btn-danger btn-sm" id="btn-del" value="删除该版本" disabled> <input type="button" class="btn btn-success btn-sm" id="btn-save" value="保存该版本OJ的修改" disabled></div>
			</div>
            <div id="oj_detail">
            <hr class="soften" />
            <div class="form-group">
				<label class="col-xs-2 control-label" for="sortid">排序值（倒序）</label>
				<div class="col-xs-4">
					<input type="text" class="form-control" name="sortid" id="sortid" placeholder="排序值（越大越靠前）">
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="mainname">OJ版本描述</label>
				<div class="col-xs-4">
					<input type="text" class="form-control" name="mainname" id="mainname" placeholder="版本描述，比如“XOJ version 1.0”">
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="devname">OJ开发代号</label>
				<div class="col-xs-4">
					<input type="text" class="form-control" name="devname" id="devname" placeholder="开发代号，可留空">
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="introduce">简要介绍</label>
				<div class="col-xs-8">
					<textarea rows="8" class="form-control" name="introduce" id="introduce"></textarea>
				</div>
			</div>
            <hr class="soften" />
            <div class="form-group">
				<label class="col-xs-2 control-label" for="photo">展示图片选择</label>
				<div class="col-xs-4"><select class="form-control" name="photo" id="photo"></select></div>
                <div class="col-xs-4"><input type="button" class="btn btn-warning btn-sm" id="btn-photo-create" value="添加照片"> <input type="button" class="btn btn-danger btn-sm" id="btn-photo-del" value="删除照片"></div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="photo-view">照片预览</label>
				<div class="col-xs-8">
					<img id="photo-view" class="thumbnail col-xs-12" src="img/nopic.jpg" />
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="title">照片标题</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" id="title" name="title" placeholder="照片标题">
				</div>
			</div>
            <div class="form-group">
				<label class="col-xs-2 control-label" for="desc">照片描述</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" id="desc" name="desc" placeholder="照片描述">
				</div>
			</div>
            </div>
        </form>

      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal fade" id="photo-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true"><div class="modal-dialog"><div class="modal-content">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h4 class="modal-title" id="person-modal-title">添加图片</h4>
  	</div>
    <form class="form-horizontal" id="photo-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
    	<div class="form-group">
    		<label class="col-xs-2 control-label" for="upload_fn">上传图片</label>
    		<div class="col-xs-6"><input type="file" id="upload_fn" name="upload_fn" class="form-control"></div>
            <div class="col-xs-3"><input type="button" class="btn btn-warning btn-sm" value="上传" id="btn-upload"></div>
  		</div>
        <hr class="soften" />
        <div class="form-group">
        	<label class="col-xs-2 control-label" for="exists_fn">已有图片</label>
            <div class="col-xs-6"><select id="exists_fn" name="exists_fn" class="form-control"></select></div>
            <div class="col-xs-3"><input type="button" class="btn btn-success btn-sm" value="选择" id="btn-choose"></div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label" for="exists_fn">预览图片</label>
            <div class="col-xs-6">
            	<img src="img/nopic.jpg" class="thumbnail col-xs-12" id="photo-select-view" />
            </div>
        </div>
    </div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
  	</div>
  </div></div></div>
<include file="Base:footer" />