<include file="Base:header" />
<include file="Base:include" />
    <link href="css/theme.bootstrap.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/jquery.tablesorter.min.js"></script>
    <script src="js/jquery.tablesorter.widgets.min.js"></script>
    <script src="js/jquery.tablesorter.pager.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/setting_common.js"></script>
    <script src="js/setting_person.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(4)").addClass("active"); });
	$(function(){
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="col-xs-12 col-sm-9 content">
		<div class="page-header">
            <h1>用户列表</h1>
        </div>
        <div class="row">
			<div class="col-xs-12 pull-left">
				<div class="btn-group" role="group">
					<button type="button" data-func="1" title="添加" data-target="#person-modal" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
					<button type="button" data-func="3" title="编辑" data-target="#person-modal" data-toggle="modal" class="btn btn-default" data-uid=""><span class="glyphicon glyphicon-pencil"></span></button>
					<button type="button" onClick="del_checked();" title="删除" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
				</div>
				<div class="btn-group" role="group">
                	<button type="button" title="发送邀请函" class="btn btn-default" onClick="sendinv_checked();"><span class="glyphicon glyphicon-send"></span></button>
		    		<button type="button" title="刷新" class="btn btn-default" onClick="reFresh();"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
                <div id="lucky-code-show" class="label label-warning" style="margin-left:50px"></div>
			</div>
            <div class="col-xs-12" style="min-height:10px"> </div>
            <div id="table-content-index" class="col-xs-12 table-content">
  				<table id="data-table" class="data-table table table-bordered table-striped table-condensed table-hover text-center">
  					<thead>
    					<tr>
      						<th><label style="padding-right:15px"><input type="checkbox" class="select-all"></label></th>
                            <th>UID</th>
      						<th>中文姓名</th>
                            <th>性别</th>
                            <th>Email</th>
                            <th>电话</th>
                            <th>年级</th>
                            <th>OJ账号</th>
                            <th>组别</th>
							<th class="sorter-false">操作</th>
    					</tr>
  					</thead>
  					<tbody></tbody>
				</table>
            </div>
            <!-- pager -->
            <div id="pager" class="col-xs-12 text-center" style="margin-top:0px">
              	<ul class="pagination">
                    <li class="first"><a href="javascript:void(0)"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></a></li>
                    <li class="prev"><a href="javascript:void(0)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
                    <li><span class="pagedisplay"></span></li>
                    <li class="next"><a href="javascript:void(0)"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></li>
                    <li class="last"><a href="javascript:void(0)"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a></li>
                    <div class="col-xs-4" style="margin-left:-10px"><select class="pagesize inline form-control">
                        <option selected="selected" value="10">10</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                	</select></div>
                </ul>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal fade" id="person-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true"><div class="modal-dialog" style="width:800px"><div class="modal-content">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h4 class="modal-title" id="person-modal-title">队员管理</h4>
  	</div>
    <form class="form-horizontal" id="person-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
		<div class="form-group">
        	<label for="chsname" class="col-xs-2 control-label">中文姓名*</label>
            <div class="col-xs-4"><input type="text" id="chsname" name="chsname" class="form-control"></div>
            <label for="engname" class="col-xs-2 control-label">英文姓名</label>
            <div class="col-xs-4"><input type="text" id="engname" name="engname" class="form-control" placeholder="强烈建议填写"></div>
        </div>
        <div class="form-group">
        	<label for="group" class="col-xs-2 control-label">组别*</label>
            <div class="col-xs-2"><select class="form-control" id="group" name="group"><option value="0">0-队员</option><option value="1">1-队长（管理权）</option><option value="2">2-教练（管理权）</option><option value="9">9-管理员（不展示）</option></select></div>
            <label for="sex" class="col-xs-2 control-label">性别*</label>
            <div class="col-xs-2"><select class="form-control" id="sex" name="sex"><option value="0">0-男</option><option value="1">1-女</option></select></div>
        	<label for="grade" class="col-xs-2 control-label">本科年级</label>
            <div class="col-xs-2"><input class="form-control" type="text" id="grade" name="grade" placeholder="如2013"></div>
        </div>
        <div class="form-group">
			<label for="email" class="col-xs-2 control-label">Email</label>
            <div class="col-xs-4"><input type="text" name="email" id="email" class="form-control"></div>
			<label for="phone" class="col-xs-2 control-label">Phone</label>
            <div class="col-xs-4"><input type="text" name="phone" id="phone" class="form-control"></div>
        </div>
        <div class="form-group">
			<label for="address" class="col-xs-2 control-label">现所在地</label>
            <div class="col-xs-10"><input class="form-control" type="text" name="address" id="address"></div>
        </div>
        <div class="form-group">
			<label for="introduce" class="col-xs-2 control-label">简要介绍</label>
            <div class="col-xs-10"><input type="text" name="introduce" id="introduce" class="form-control"></div>
        </div>
        <div class="form-group">
			<label for="detail" class="col-xs-2 control-label">详细自白</label>
            <div class="col-xs-10"><textarea rows="5" class="form-control" name="detail" id="detail"></textarea></div>
        </div>
        <div class="form-group">
			<label for="luckycode" class="col-xs-2 control-label">邀请码*</label>
            <div class="col-xs-4"><input type="text" id="luckycode" name="luckycode" class="form-control" placeholder="系统自动生成，无需填写" readonly></div>
			<label for="ojaccount" class="col-xs-2 control-label">关联OJ账号</label>
            <div class="col-xs-4"><input type="text" id="ojaccount" name="ojaccount" class="form-control" placeholder="不填写则由队员自行关联"></div>
        </div>
        <div class="form-group">
        	<label class="col-xs-2 control-label">个人照片<br />（预览图）</label>
            <div class="col-xs-4"><img class="thumbnail col-xs-12" src="img/nopic.jpg" id="face_show"></div>
            <div class="col-xs-6"><input type="file" class="form-control" name="face" id="face"><br />
            <button class="btn btn-warning" type="button" id="face_upload" data-func="upload">上传</button>
            <button class="btn btn-danger" type="button" id="face_del" data-func="del">删除</button></div>
            <input type="hidden" name="nowuid" id="nowuid">
       	 	<input type="hidden" name="face_fn" id="face_fn">
        </div>
  	</div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
    	<button id="btn-submit" type="submit" class="btn btn-primary">保存</button>
  	</div>
  </div></div></div>
<include file="Base:footer" />