<include file="Base:header" />
<include file="Base:include" />
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar>li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(1)").addClass("active"); });
	$(function(){
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	})
  	function onSubmit() {
		var addr="<?php echo U('Setting/ajax_modify_profile'); ?>";
		var params=$('#profile-form').serialize();
		$.ajax({
			url:addr,
			type:'post',
			cache:false,
			data:params,
			success:function(msg){
				if(msg.status == 0) alert("成功", "修改个人信息成功！", "success");
				else alert("错误", msg.info, "error");
			},
			error:function(msg){
				alert("提示", '你已中断请求，或网络连接异常。', "info");
			}
		});
	}
	function onSubmitFace() {
		$.ajaxFileUpload({
			url:"<?php echo U('Setting/ajax_upload_face'); ?>",
			secureuri:false,
			fileElementId:'photo',
			dataType:"json",
			success:function(data)
			{
				 if(data.status == 0) { $("#photo-view").attr("src", data.data); alert("成功", data.info, "success"); }
				 else alert("错误", data.info, "error");
			},
			error:function(data)
			{
				alert("提示", '你已中断请求，或网络连接异常。', "info");
			}
		});
		return false;
	}
  </script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>个人中心</h1>
    <p class="lead">Personal Center</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="col-xs-12 col-sm-9">
		<div class="page-header">
            <h1>个人资料修改</h1>
        </div>
        <form class="form-horizontal" id="profile-form" method="post" action="" enctype="multipart/form-data">
        	<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="chsname">中文姓名</label>
				<div class="col-xs-12 col-sm-3">
					<input type="text" class="form-control" id="chsname" value="<?php echo $data['chsname']; ?>" readonly>
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="email">Email</label>
				<div class="col-xs-12 col-sm-3">
					<input type="text" class="form-control" name="email" id="email" <?php if($data['email']) echo 'value="'.$data['email'].'"'; ?> placeholder="发送通知等，仅本系统用户可见">
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="phone">Phone</label>
				<div class="col-xs-12 col-sm-3">
					<input type="text" class="form-control" name="phone" id="phone" <?php if($data['phone']) echo 'value="'.$data['phone'].'"'; ?> placeholder="手机号码，仅本系统用户可见">
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="address">现所在地</label>
				<div class="col-xs-12 col-sm-6">
					<input type="text" class="form-control" name="address" id="address" <?php if($data['address']) echo 'value="'.$data['address'].'"'; ?>  placeholder="Hello, World.">
				</div>
			</div>
            <?php if(!$config_lock_person_introduce) { ?>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="introduce">简要介绍</label>
				<div class="col-xs-12 col-sm-9">
					<input type="text" class="form-control" name="introduce" id="introduce" <?php if($data['introduce']) echo 'value="'.$data['introduce'].'"'; ?>>
				</div>
			</div>
            <?php } ?>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="detail">详细自白</label>
				<div class="col-xs-12 col-sm-9">
					<textarea rows="8" class="form-control" name="detail" id="detail"><?php if($data['detail']) echo $data['detail']; ?></textarea>
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="luckycode">邀请码</label>
				<div class="col-xs-12 col-sm-3">
					<input type="text" id="luckycode" class="form-control" <?php if($data['luckycode']) echo 'value="'.$data['luckycode'].'"'; ?> readonly>
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="ojaccount">关联的OJ账号</label>
				<div class="col-xs-12 col-sm-3">
					<input type="text" id="ojaccount" class="form-control" <?php if($data['ojaccount']) echo 'value="'.$data['ojaccount'].'"'; ?> readonly>
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2"> </label>
				<div class="col-xs-12 col-sm-8">
					<input type="button" value="点我更新个人资料" class="btn btn-primary" onClick="return onSubmit();">
				</div>
			</div>
        </form>
        
        <div class="page-header">
            <h1>头像修改</h1>
        </div>
        <form class="form-horizontal" id="face-form" method="post" action="" enctype="multipart/form-data">
        	<div class="form-group">
				<label class="control-label col-xs-12 col-sm-2">原个人照片</label>
				<div class="col-xs-12 col-sm-8">
                    <img id="photo-view" src="<?php if($data['photo']) echo $data['photo']; else echo 'img/nopic.jpg'; ?>" class="col-xs-12 col-sm-6 thumbnail" />
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2" for="photo">更新个人照片</label>
				<div class="col-xs-12 col-sm-6">
					<input type="file" name="photo" id="photo" class="form-control">
				</div>
			</div>
            <div class="form-group">
				<label class="control-label col-xs-12 col-sm-2"> </label>
				<div class="col-xs-12 col-sm-6">
					<input type="button" value="点我上传头像" class="btn btn-primary" onClick="return onSubmitFace();">
				</div>
			</div>
        </form>
      </div>
    </div>
  </div>

  <div id="alert"></div>
<include file="Base:footer" />