<include file="Base:header" />
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="css/setting.css" rel="stylesheet">
    
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->
    
    <!-- Le javascript -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ajaxfileupload.js"></script>
    <script src="js/setting_common.js"></script>
    <script src="js/setting_ojhistory.js"></script>
	<script type="text/javascript">
	$(function(){ $("#navbar li:nth-child(9)").addClass("active"); $("#setting-bar li:nth-child(7)").addClass("active"); });
	$(function(){
		var $window = $(window);
			$('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
  </script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="jumbotron subhead" id="overview">
  <div class="container">
    <h1>设置</h1>
    <p class="lead">Setting</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <include file="commonbar" />
      <div class="span9">
		<div class="page-header">
            <h1>OnlineJudge历史管理</h1>
        </div>
        <form class="form-horizontal" id="ojhis-form" method="post" action="" enctype="multipart/form-data">
        	<div class="control-group">
				<label class="control-label" for="vid">待修改的OJ版本</label>
				<div class="controls">
					<select name="vid" id="vid"></select> <input type="button" class="btn btn-primary" id="btn-create" value="添加一个OJ版本"> <input type="button" class="btn btn-danger" id="btn-del" value="删除该版本" disabled> <input type="button" class="btn btn-success" id="btn-save" value="保存该版本OJ的修改" disabled>
				</div>
			</div>
            <div id="oj_detail">
            <hr class="soften" />
            <div class="control-group">
				<label class="control-label" for="sortid">排序值（越大越靠前）</label>
				<div class="controls">
					<input type="text" name="sortid" id="sortid" placeholder="排序值（越大越靠前）">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="mainname">OJ版本描述</label>
				<div class="controls">
					<input type="text" name="mainname" id="mainname" class="input-xlarge" placeholder="版本描述，比如“XOJ version 1.0”">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="devname">OJ开发代号</label>
				<div class="controls">
					<input type="text" name="devname" id="devname" class="input-xlarge" placeholder="开发代号，可留空">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="introduce">简要介绍</label>
				<div class="controls">
					<textarea rows="8" class="input-xxlarge" name="introduce" id="introduce"></textarea>
				</div>
			</div>
            <hr class="soften" />
            <div class="control-group">
				<label class="control-label" for="photo">展示图片选择</label>
				<div class="controls">
					<select name="photo" id="photo"></select> <input type="button" class="btn btn-primary" id="btn-photo-create" value="添加照片"> <input type="button" class="btn btn-danger" id="btn-photo-del" value="删除照片">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="photo-view">照片预览</label>
				<div class="controls">
					<img id="photo-view" class="input-xlarge img-polaroid" src="img/nopic.jpg" />
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="title">照片标题</label>
				<div class="controls">
					<input type="text" id="title" name="title" class="input-xlarge" placeholder="照片标题">
				</div>
			</div>
            <div class="control-group">
				<label class="control-label" for="desc">照片描述</label>
				<div class="controls">
					<input type="text" id="desc" name="desc" class="input-xxlarge" placeholder="照片描述">
				</div>
			</div>
            </div>
        </form>

      </div>
    </div>
  </div>

  <div id="alert"></div>
  <div class="modal hide fade" id="photo-modal" data-cache='false' data-backdrop="true" data-keyboard="true" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
  	<div class="modal-header">
    	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    	<h3 id="person-modal-title">添加图片</h3>
  	</div>
    <form class="form-horizontal" id="photo-form" method="post" action="" enctype="multipart/form-data">
  	<div class="modal-body">
    	<div class="control-group">
    		<label class="control-label" for="upload_fn">上传图片</label>
    		<div class="controls">
            	<input type="file" id="upload_fn" name="upload_fn" class="input-xlarge"> <input type="button" class="btn btn-primary" value="上传" id="btn-upload">
    		</div>
  		</div>
        <hr class="soften" />
        <div class="control-group">
        	<label class="control-label" for="exists_fn">选择已有文件</label>
            <div class="controls">
            	<select id="exists_fn" name="exists_fn" class="input-xlarge"></select> <input type="button" class="btn btn-primary" value="选择" id="btn-choose">
            </div>
        </div>
        <div class="control-group">
        	<label class="control-label" for="exists_fn">预览图片</label>
            <div class="controls">
            	<img src="img/nopic.jpg" width="80%" class="img-polaroid" id="photo-select-view" />
            </div>
        </div>
    </div>
    </form>
  	<div class="modal-footer">
    	<button class="btn btn-large" data-dismiss="modal" aria-hidden="true">关闭</button>
  	</div>
  </div>
<include file="Base:footer" />