<!-- Le styles -->
	<!--[if lt IE 9]><script type="text/javascript">window.location.href="ienotice.html";</script><![endif]-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/extra.min.css" rel="stylesheet">
    <link href="css/pnotify.custom.min.css" rel="stylesheet">
    <!-- Le javascript -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
    <script src="js/pnotify.custom.min.js"></script>
