<!-- Person Modal -->
<script type="text/javascript">
	$(function(){
		$('.container').on('click', 'a[data-toggle=personmodal]', function (e) {
	    	e.preventDefault();
			var uid = $(this).data('uid');
			$.getJSON("?z=setting-ajax_get_person_modal-uid-" + uid, null)
			.done( function(data) {
				if(data.status == 0) {
					if(data.data.photo) $('#p_face').attr('src', data.data.photo);
					else $('#p_face').attr('src', 'img/nopic.jpg');
					$('#personmodaltitle').html(data.data.chsname);
					$('#p_name').html(data.data.chsname + ' <span class="muted"><small>' + data.data.engname + '</small></span>');
					$('#p_introduce').html(data.data.introduce);
					gradestr = '';
					if(data.data.grade) gradestr = gradestr + '<span class="glyphicon glyphicon-home" aria-hidden="true"></span></i> ' + data.data.grade + '级';
					if(data.data.grade && data.data.address) gradestr += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
					if(data.data.address) gradestr = gradestr + '<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> ' + data.data.address;
					$('#p_grade').html(gradestr);
					$('#p_email').html('<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> ' + data.data.email);
					$('#p_phone').html('<span class="glyphicon glyphicon-user" aria-hidden="true"></span> ' + data.data.phone);
					conteststr = '';
					if(data.data.contest) {
						for(i = 0; i < data.data.contest.length; i++) {
							conteststr = conteststr + '<div class="col-xs-12" style="margin-bottom:5px;"><a href="';
							if(data.data.contest[i].type == 0) conteststr = conteststr + '?z=wf#year' + data.data.contest[i].y;
							else conteststr = conteststr + '?z=regional-cool-y-' + data.data.contest[i].y;
							conteststr += '" class="btn btn-default col-xs-12"><img style="height:20px;" src="';
							if(data.data.contest[i].type == 0) conteststr += 'img/final.png';
							else {
								if(data.data.contest[i].medal == 0) conteststr += 'img/golden.png';
								else if(data.data.contest[i].medal == 1) conteststr += 'img/silver.png';
								else if(data.data.contest[i].medal == 2) conteststr += 'img/bronze.png';
								else if(data.data.contest[i].medal == 4) conteststr += 'img/norank.png';
								else conteststr += 'img/honorable.png';
							}
							conteststr = conteststr + '"> ' + data.data.contest[i].y + '.' + data.data.contest[i].m + (data.data.contest[i].type == 0 ? ' WorldFianl' : ' Regional') + ' @ ' + data.data.contest[i].site + ' <span class="label label-default">' + data.data.contest[i].team + '</span></a></div></div>';
						}
					}
					conteststr = conteststr + '<div class="col-xs-12"><div class="bs-callout bs-callout-info">' + data.data.detail + '</div></div>';
					$('#p_contest').html(conteststr);
					$('#person-modal').modal();
				}
				else alert("错误", data.info, "error");
			})
			.fail(function () {
				alert("提示", '你已中断请求，或网络连接异常。', "info");
			});
		});
	});
</script>
<div id="person-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"><div class="modal-dialog modal-lg" style="width:800px"><div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="personmodaltitle"></h4>
  </div>
  <div class="modal-body">
    <div class="container-fluid"><div class="row">
    	<div class="col-xs-4">
        	<div class="row">
            	<div class="thumbnail">
                  <img id="p_face" src="img/nopic.jpg" alt="">
                  <div class="caption">
                    <h3 id="p_name"></h3>                   
                    <p id="p_introduce" style="margin-bottom:20px"></p>
                    <p id="p_grade"></p>
                    <p id="p_email"></p>
                    <p id="p_phone"></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8"><div class="row" id="p_contest"></div></div>
    </div></div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
  </div>
</div></div></div>