<include file="Base:header" />
<include file="Base:include" />
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	var page = <?php echo $page; ?>;
	var pid = <?php echo $pid; ?>;
	$(function(){
		$("#navbar>li:nth-child(8)").addClass("active");
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		    offset: {
		        top: function () { return $window.width() <= 980 ? 290 : 210 }
		      	, bottom: 270
		    }
		});
		$("span[data-toggle=popover]")
      		.popover()
      		.click(function(e) {
        		e.preventDefault()
      		});
		
		$('#submit').click(function(e) {
			$.post("?z=talk-ajax_postnewtalk", {verify:$('#verify').val(), pid:$('#pid').val(), title:$('#title').val(), content:$('#content').val()} )
			.done(function (data) {
				if(data.status == 0) {
					$('#talk').html(data.data);
					$('#title').val(null);
					$('#content').val(null);
					$('#verify').val(null);
					$('#pid').val(null);
					$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
					$('#prev-btn a').removeAttr('href');
					$('#prev-btn').addClass('disabled');
					alert('成功', '提交成功。', 'success');
				}
				else {
					$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
					alert('错误', data.info, "error");
				}
			})
			.fail(function () {
				$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
				alert("提示", '你已中断请求，或网络连接异常。', "info");
			});
		});
		if(page == 1) {
			$('#prev-btn a').removeAttr('href');
			$('#prev-btn').addClass('disabled');
			$('#next-btn a').attr('href', '?z=talk-index-p-' + (page + 1) + (pid == 0 ? '' : '-pid-' + pid));
		}
		else {
			$('#prev-btn a').attr('href', '?z=talk-index-p-' + (page - 1) + (pid == 0 ? '' : '-pid-' + pid));
			$('#next-btn a').attr('href', '?z=talk-index-p-' + (page + 1) + (pid == 0 ? '' : '-pid-' + pid));
		}
	});
	function fakesubmit() {return false;}
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>谈资</h1>
    <p class="lead">Talk</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12">

        <section id="talks">
          <div class="page-header">
            <h1>Talk Board</h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
            	<ul class="list-unstyled" id="talk">
                	<?php echo $talk; ?>
                </ul>
            </div>
            <div class="col-xs-12">
            	<ul class="pager">
            		<li class="previous" id="prev-btn"><a>&larr; Prev Page</a></li>
            		<li class="next" id="next-btn"><a>Next Page &rarr;</a></li>
            	</ul>
            </div>
          </div>
        </section>

		<?php if($ojaccount) { ?>
        <section id="inserttalk">
          <div class="page-header">
            <h1>Post New Talk</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-7" id="todo">
              <form method="post" name="inserttalk" class="form-inline" action="#" onSubmit="return fakesubmit();">
              <input id="title" type="text" class="form-control" style="width:65%" name="title" placeholder="Title Here." /> <span class="label label-success">Current User: [ <?php echo $ojaccount; ?> ]</span>
              <textarea id="content" rows="12" class="form-control" style="width:100%" placeholder="Content Here. (Null is acceptable)"></textarea>
              	<label for="verify"><img id="verify-img" alt="验证码" src="?z=talk-verify" /></label> <input id="verify" type="text" name="verify" class="form-control" style="width:12%;min-width:60px" placeholder="验证码" />
                <input id="pid" type="text" name="pid" class="form-control" placeholder="题目ID（可选）" maxlength="4" value="<?php if($pid != 0) echo $pid; ?>" />
              	<input type="submit" value="提交" class="btn btn-primary" id="submit" />
              </form>
            </div>
          </div>
        </section>
        <?php } else { ?>
        <section id="login">
          <div class="page-header">
            <h1>Login</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-7" id="todo">
              <div class="alert alert-success alert-block">登录OnlineJudge账号后可以发表和回复Talk~<a target="_blank" href="<?php echo $url; ?>" class="btn btn-large btn-success pull-right">登录OnlineJudge</a><br />请点击右方按钮跳转至OnlineJudge登录页面。</div>
            </div>
          </div>
        </section>
		<?php } ?>
      </div>
    </div>

  </div>
  <div id="alert"></div>
<include file="Base:footer" />