<include file="Base:header" />
<include file="Base:include" />
    <link href="css/setting.css" rel="stylesheet">
    <script src="js/setting_common.js"></script>
	<script type="text/javascript">
	$(function(){
		$("#navbar>li:nth-child(8)").addClass("active");
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		    offset: {
		        top: function () { return $window.width() <= 980 ? 290 : 210 }
		      	, bottom: 270
		    }
		});
		$("span[data-toggle=popover]")
      		.popover()
      		.click(function(e) {
        		e.preventDefault()
      		});
		
		$('#submit').click(function(e) {
			$.post("?z=talk-ajax_replytalk", {verify:$('#verify').val(), tid:<?php echo $tid; ?>, title:$('#title').val(), content:$('#content').val()} )
			.done(function (data) {
				if(data.status == 0) {
					$('#title').val(null);
					$('#content').val(null);
					$('#verify').val(null);
					$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
					alert('[成功]回复成功。');
					window.location.href="?z=talk"; 
				}
				else {
					$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
					alert(data.info, "error");
				}
			})
			.fail(function () {
				$('#verify-img').attr('src', '?z=talk-verify-t-'+Math.random());
				alert('[错误]请检查网络连接。', "error");
			});
		});
	});
	function fakesubmit() {return false;}
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />
<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>谈资</h1>
    <p class="lead">Talk</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12">

		<section id="detail">
          <div class="page-header">
            <h1><?php echo $title; ?></h1>
          </div>
          <div class="row">
            <div class="col-xs-12">
            	<?php echo $introduce; ?>
            </div>
            <?php if($content) { ?><div class="col-xs-12">
            	<?php echo $content; ?>
            </div><?php } ?>
            <?php if(!$son) echo '<div class="col-xs-12 text-muted">Tips：本主题暂无回复。</div>'; ?>
          </div>
        </section>
        
        <?php if($son) { ?><section id="replylist">
          <div class="page-header">
            <h1>本主题的回复</h1>
          </div>
          <div class="row">
            <div class="col-xs-12" style="font-size:16px">
            	<ul class="list-unstyled" id="talk">
                    <?php echo $son; ?>
                </ul>
            </div>
          </div>
        </section><?php } ?>

		<?php if($ojaccount) { ?>
        <section id="reply talk">
          <div class="page-header">
            <h1>Reply</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-sm-7" id="todo">
              <form method="post" name="reply" class="form-inline" action="#" onSubmit="return fakesubmit();">
              <input id="title" type="text" class="form-control" style="width:65%" name="title" placeholder="Title Here." value="Re: <?php echo $title; ?>" /> <span class="label label-success">Current User: [ <?php echo $ojaccount; ?> ]</span>
              <textarea id="content" rows="10" class="form-control" style="width:100%" placeholder="Content Here. (Null is acceptable)"></textarea>
              <label for="verify"><img id="verify-img" alt="验证码" src="?z=talk-verify" /></label> <input id="verify" type="text" name="verify" class="form-control" style="width:12%;min-width:60px" placeholder="验证码" />
              <input type="submit" value="回复" class="btn btn-primary" id="submit" />
              </form>
            </div>
          </div>
        </section>
        <?php } else { ?>
        <section id="login">
          <div class="page-header">
            <h1>Login</h1>
          </div>

          <div class="row">
            <div class="col-xs-12 col-xs-7" id="todo">
              <div class="alert alert-success alert-block">登录OnlineJudge账号后可以发表和回复Talk~<a target="_blank" href="<?php echo $url; ?>" class="btn btn-large btn-success pull-right">登录OnlineJudge</a><br />请点击右方按钮跳转至OnlineJudge登录页面。</div>
            </div>
          </div>
        </section>
		<?php } ?>
      </div>
    </div>

  </div>
  <div id="alert"></div>
<include file="Base:footer" />