<include file="Base:header" />
<include file="Base:include" />
    <script type="text/javascript">$(function(){ $("#navbar>li:nth-child(1)").addClass("active"); });</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

  <include file="Base:navbar" />

<div class="jumbotron masthead">
  <div class="container">
    <h1><?php echo $home_chs_header; ?></h1>
    <p><?php echo $home_eng_header; ?></p>
    <p><?php echo $home_additional_title; ?></p>
    <p>
		<a href="?z=we" class="btn btn-success btn-large">我们</a> <a href="?z=wf" class="btn btn-danger btn-large">全球总决赛</a> <a href="?z=regional" class="btn btn-warning btn-large">区域赛</a> <a href="?z=news" class="btn btn-primary btn-large">新闻中心</a> <a href="?z=coach" class="btn btn-primary btn-large">教练团队</a> <a href="?z=oj" class="btn btn-primary btn-large">OJ历史</a>
    </p>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <h4>至目前为止，World Final: <span class="label label-info"><big><?php echo $number['wf']; ?></big></span>， Regional: 金 <span class="label label-warning"><big><?php echo $number['regional'][0]; ?></big></span> 银 <span class="label label-default"><big><?php echo $number['regional'][1]; ?></big></span> 铜 <span class="label label-danger"><big><?php echo $number['regional'][2]; ?></big></span></h4>
  </div>
</div>


    <?php if(count($recent)>0) {
    	echo '<div class="bs-docs-social" style="padding:2px"><div class="container"><h5>';
        $first = true;
    	foreach($recent as $r) {
        	if($r['type'] != 0 && $r['medal'] > 2) continue;
            if($r['medal'] == 0) $medal = '<span class="label label-warning">金牌</span>';
            else if($r['medal'] == 1) $medal = '<span class="label label-default">银牌</span>';
            else if($r['medal'] == 2) $medal = '<span class="label label-danger">铜牌</span>';
            if($first) { $first = false; echo '<p>';}
            else echo '</p><p>';
        	if($r['type'] == 0) {
            	echo '@'.$r['holdtime'].' 恭喜<span class="label label-success">'.$r['team'].'</span>挺进<span class="label label-info">World Final</span>';
                if($r['medal'] < 3) echo '，并获得'.$medal.'！';
                else echo '！';
            }
            else {
            	echo '@'.$r['holdtime'].' 恭喜<span class="label label-success">'.$r['team'].'</span>获得区域赛'.$medal.'！';
            }
		}
		echo '</p></h5></div></div>';
    } ?>
  

<div class="container">
<?php echo $home_mainarea; ?>
</div>
<include file="Base:footer" />