<include file="Base:header" />
<include file="Base:include" />
    <script type="text/javascript">$(function(){ $("#navbar>li:nth-child(5)").addClass("active"); });</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>ACM-ICPC 区域赛</h1>
    <p class="lead">ACM-ICPC Regional</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 text-center"><h1><br />暂时还没有该奖项信息，继续努力中~<br /></h1></div>
    </div>
  </div>
<include file="Base:footer" />