<include file="Base:header" />
<include file="Base:include" />
	<script type="text/javascript">
	$(function(){
		$(function(){ $("#navbar>li:nth-child(2)").addClass("active");
		$("#we-menu>li:nth-child(3)").addClass("active"); });
		var $window = $(window);
		if($window.width() >= 768) $('.bs-docs-sidenav').affix({
		        offset: {
		            top: function () { return $window.width() <= 980 ? 290 : 210 }
		          , bottom: 270
		          }
		        });
			$("span[data-toggle=popover]")
      			.popover()
      			.click(function(e) {
        			e.preventDefault()
      		});
	});
	</script>
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">
    <include file="Base:navbar" />

<!-- Subhead
================================================== -->
<header class="bs-docs-header" id="overview">
  <div class="container">
    <h1>OnlineJudge历史</h1>
    <p class="lead">OnlineJudge History</p>
    <div id="carbonads-container"></div>
  </div>
</header>


  <div class="container">

    <!-- Docs nav
    ================================================== -->
    <div class="row">
      <div class="col-xs-12 col-sm-3 bs-docs-sidebar">
        <ul class="nav bs-docs-sidenav">
          <li><a href="?z=we"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> ACM-ICPC集训队简介</a></li>
          <li><a href="?z=coach"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 教练团队</a></li>
          <li class="selected"><a href="?z=oj"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> OnlineJudge历史</a></li>
          <?php foreach($data as $d) { ?>
          <li><a href="#<?php echo $d['vid']; ?>"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><span class="glyphicon glyphicon-minus" aria-hidden="true"></span> <?php echo $d['mainname']; if($d['devname']) echo ' - '.$d['devname']; ?></a></li>
          <?php } ?>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9">


        <!-- year2006
        ================================================== -->
        <?php foreach($data as $d) { ?>
        <section id="<?php echo $d['vid']; ?>">
          <div class="page-header">
            <h1><?php echo $d['mainname']; if($d['devname']) echo ' - '.$d['devname']; ?></h1>
          </div>
			
          <?php if(count($d['photo']) > 0) { ?>
          <div class="row">
            <div class="col-xs-12 col-sm-11">
                  <div id="myCarousel<?php echo $d['vid']; ?>" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    	<?php for($i = 0; $i < count($d['photo']); $i++) {
                        if($i == 0) echo '<li data-target="#myCarousel'.$d['vid'].'" data-slide-to="'.$i.'" class="active"></li>';
                        else echo '<li data-target="#myCarousel'.$d['vid'].'" data-slide-to="'.$i.'"></li>';
                        } ?>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner" role="listbox">
                    	<?php for($i = 0; $i < count($d['photo']); $i++) {
                       	if($i == 0) { ?>
                        <div class="active item">
                        	<img src="<?php echo $d['photo'][$i]; ?>" alt="">
                    		<div class="carousel-caption">
                      			<h3><?php echo $d['title'][$i]; ?></h3>
                      			<p><?php echo $d['desc'][$i]; ?></p>
                    		</div>
                        </div>
                        <?php } else { ?>
                        <div class="item">
                        	<img src="<?php echo $d['photo'][$i]; ?>" alt="">
                    		<div class="carousel-caption">
                      			<h3><?php echo $d['title'][$i]; ?></h3>
                      			<p><?php echo $d['desc'][$i]; ?></p>
                    		</div>
                        </div>
                        <?php } 
                        } ?>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel<?php echo $d['vid']; ?>" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel<?php echo $d['vid']; ?>" role="button" data-slide="next">
                    	<span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
          </div>
          <?php } ?>
          <div class="row">
            <div class="col-xs-12 col-sm-11">
              <hr /><p><?php echo $d['introduce']; ?></p>
            </div>
          </div>
        </section>
		<?php } ?>

      </div>
    </div>

  </div>
<include file="Base:footer" />